In [3]:
!pip3 install nb_black
!pip3 install flake8 pycodestyle_magic
!pip3 install bigquery
!pip3 install db-dtypes

!pip3 install matplotlib
!pip3 install seaborn
!pip3 install tqdm

Collecting nb_black
  Using cached nb_black-1.0.7-py3-none-any.whl
Requirement already satisfied: black>='19.3' in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from nb_black) (20.8b1)
Requirement already satisfied: ipython in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from nb_black) (7.16.1)
Requirement already satisfied: mypy-extensions>=0.4.3 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from black>='19.3'->nb_black) (0.4.3)
Requirement already satisfied: dataclasses>=0.6 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from black>='19.3'->nb_black) (0.8)
Requirement already satisfied: click>=7.1.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from black>='19.3'->nb_black) (7.1.2)
Requirement already satisfied: toml>=0.10.1 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from black>='19.3'->nb_black) (0.10.2)
Requirement already satisfied: pathspec<1,>=0.6 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from black>='19.3'->nb_black) (0.8.1)
Requirement already satisfied: typing-extensions>=3.7.4 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from black>='19.3'->nb_black) (4.0.1)
Requirement already satisfied: typed-ast>=1.4.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from black>='19.3'->nb_black) (1.4.2)
Requirement already satisfied: appdirs in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from black>='19.3'->nb_black) (1.4.4)
Requirement already satisfied: regex>=2020.1.8 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from black>='19.3'->nb_black) (2020.11.13)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from ipython->nb_black) (3.0.5)
Requirement already satisfied: pickleshare in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from ipython->nb_black) (0.7.5)
Requirement already satisfied: backcall in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from ipython->nb_black) (0.2.0)
Requirement already satisfied: jedi>=0.10 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from ipython->nb_black) (0.17.2)
Requirement already satisfied: pygments in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from ipython->nb_black) (2.8.0)
Requirement already satisfied: pexpect in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from ipython->nb_black) (4.8.0)
Requirement already satisfied: decorator in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from ipython->nb_black) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from ipython->nb_black) (49.6.0.post20210108)
Requirement already satisfied: traitlets>=4.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from ipython->nb_black) (4.3.3)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from jedi>=0.10->ipython->nb_black) (0.7.0)
Requirement already satisfied: wcwidth in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->nb_black) (0.2.5)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from traitlets>=4.2->ipython->nb_black) (1.15.0)
Requirement already satisfied: ipython-genutils in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from traitlets>=4.2->ipython->nb_black) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from pexpect->ipython->nb_black) (0.7.0)
Installing collected packages: nb-black
Successfully installed nb-black-1.0.7
Requirement already satisfied: flake8 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (3.8.4)
Collecting pycodestyle_magic
  Using cached pycodestyle_magic-0.5-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: pycodestyle<2.7.0,>=2.6.0a1 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from flake8) (2.6.0)
Requirement already satisfied: pyflakes<2.3.0,>=2.2.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from flake8) (2.2.0)
Requirement already satisfied: mccabe<0.7.0,>=0.6.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from flake8) (0.6.1)
Requirement already satisfied: importlib-metadata in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from flake8) (4.8.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from importlib-metadata->flake8) (4.0.1)
Requirement already satisfied: zipp>=0.5 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from importlib-metadata->flake8) (3.4.0)
Installing collected packages: pycodestyle-magic
Successfully installed pycodestyle-magic-0.5
Collecting bigquery
  Using cached bigquery-0.0.34.tar.gz (8.1 kB)
  Preparing metadata (setup.py) ... done
Collecting dbstream>=0.1.19
  Using cached dbstream-0.1.19-py3-none-any.whl
Collecting google-cloud-bigquery>=2.4.0
  Using cached google_cloud_bigquery-3.2.0-py2.py3-none-any.whl (211 kB)
Collecting googleauthentication>=0.0.12
  Using cached googleauthentication-0.0.17-py3-none-any.whl
Collecting google-cloud-bigquery-storage>=2.1.0
  Using cached google_cloud_bigquery_storage-2.13.2-py2.py3-none-any.whl (180 kB)
Collecting bigquery
  Using cached bigquery-0.0.33.tar.gz (7.9 kB)
  Preparing metadata (setup.py) ... done
  Using cached bigquery-0.0.32.tar.gz (7.9 kB)
  Preparing metadata (setup.py) ... done
  Using cached bigquery-0.0.31.tar.gz (2.0 kB)
  Preparing metadata (setup.py) ... done
  Using cached bigquery-0.0.30-py3-none-any.whl
Requirement already satisfied: pyarrow>=2.0.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from bigquery) (6.0.1)
Requirement already satisfied: pandas>=1.1.4 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from bigquery) (1.1.5)
Collecting google-api-core>=2.3.2
  Using cached google_api_core-2.8.2-py3-none-any.whl (114 kB)
Collecting dacktool>=0.0.7
  Using cached dacktool-0.0.7-py3-none-any.whl
Requirement already satisfied: requests>=2.22.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from dbstream>=0.1.19->bigquery) (2.26.0)
Requirement already satisfied: packaging<22.0.0dev,>=14.3 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from google-cloud-bigquery>=2.4.0->bigquery) (21.3)
Collecting proto-plus<2.0.0dev,>=1.15.0
  Using cached proto_plus-1.22.1-py3-none-any.whl (47 kB)
Collecting google-cloud-core<3.0.0dev,>=1.4.1
  Using cached google_cloud_core-2.3.1-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from google-cloud-bigquery>=2.4.0->bigquery) (2.8.1)
Requirement already satisfied: protobuf<4.0.0dev,>=3.12.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from google-cloud-bigquery>=2.4.0->bigquery) (3.15.2)
Collecting google-resumable-media<3.0dev,>=0.6.0
  Using cached google_resumable_media-2.3.3-py2.py3-none-any.whl (76 kB)
Requirement already satisfied: grpcio<2.0dev,>=1.38.1 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from google-cloud-bigquery>=2.4.0->bigquery) (1.42.0)
Collecting protobuf<4.0.0dev,>=3.12.0
  Using cached protobuf-3.19.6-cp36-cp36m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
Collecting google-api-python-client==1.7.11
  Using cached google_api_python_client-1.7.11-py3-none-any.whl
Requirement already satisfied: cryptography>=2.7 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from googleauthentication>=0.0.12->bigquery) (3.4.4)
Collecting google-cloud-secret-manager==2.7.2
  Using cached google_cloud_secret_manager-2.7.2-py2.py3-none-any.whl (94 kB)
Requirement already satisfied: google-auth>=1.23.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from googleauthentication>=0.0.12->bigquery) (1.35.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from googleauthentication>=0.0.12->bigquery) (0.4.6)
Collecting google-auth-httplib2==0.0.3
  Using cached google_auth_httplib2-0.0.3-py2.py3-none-any.whl (6.3 kB)
Collecting uritemplate<4dev,>=3.0.0
  Using cached uritemplate-3.0.1-py2.py3-none-any.whl (15 kB)
Collecting httplib2<1dev,>=0.9.2
  Using cached httplib2-0.21.0-py3-none-any.whl (96 kB)
Requirement already satisfied: six<2dev,>=1.6.1 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from google-api-python-client==1.7.11->googleauthentication>=0.0.12->bigquery) (1.15.0)
Collecting grpc-google-iam-v1<0.13dev,>=0.12.3
  Using cached grpc_google_iam_v1-0.12.4-py2.py3-none-any.whl (26 kB)
Collecting libcst>=0.2.5
  Using cached libcst-0.4.1-cp36-cp36m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
Requirement already satisfied: pytz>=2017.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from pandas>=1.1.4->bigquery) (2021.1)
Requirement already satisfied: numpy>=1.15.4 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from pandas>=1.1.4->bigquery) (1.18.5)
Requirement already satisfied: cffi>=1.12 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from cryptography>=2.7->googleauthentication>=0.0.12->bigquery) (1.14.5)
Collecting googleapis-common-protos<2.0dev,>=1.56.2
  Using cached googleapis_common_protos-1.56.3-py2.py3-none-any.whl (211 kB)
Collecting grpcio-status<2.0dev,>=1.33.2
  Using cached grpcio_status-1.51.1-py3-none-any.whl (5.1 kB)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from google-auth>=1.23.0->googleauthentication>=0.0.12->bigquery) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from google-auth>=1.23.0->googleauthentication>=0.0.12->bigquery) (4.7.2)
Requirement already satisfied: setuptools>=40.3.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from google-auth>=1.23.0->googleauthentication>=0.0.12->bigquery) (49.6.0.post20210108)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from google-auth>=1.23.0->googleauthentication>=0.0.12->bigquery) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from google-auth-oauthlib>=0.4.0->googleauthentication>=0.0.12->bigquery) (1.3.0)
Collecting google-crc32c<2.0dev,>=1.0
  Using cached google_crc32c-1.3.0-cp36-cp36m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (37 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from packaging<22.0.0dev,>=14.3->google-cloud-bigquery>=2.4.0->bigquery) (2.4.7)
Requirement already satisfied: idna<4,>=2.5 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from requests>=2.22.0->dbstream>=0.1.19->bigquery) (3.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from requests>=2.22.0->dbstream>=0.1.19->bigquery) (2021.5.30)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from requests>=2.22.0->dbstream>=0.1.19->bigquery) (2.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from requests>=2.22.0->dbstream>=0.1.19->bigquery) (1.26.8)
Requirement already satisfied: pycparser in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from cffi>=1.12->cryptography>=2.7->googleauthentication>=0.0.12->bigquery) (2.20)
Collecting grpcio-status<2.0dev,>=1.33.2
  Using cached grpcio_status-1.50.0-py3-none-any.whl (14 kB)
  Using cached grpcio_status-1.49.1-py3-none-any.whl (14 kB)
  Using cached grpcio_status-1.48.2-py3-none-any.whl (14 kB)
Collecting grpcio<2.0dev,>=1.38.1
  Using cached grpcio-1.48.2-cp36-cp36m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.6 MB)
Requirement already satisfied: typing-extensions>=3.7.4.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from libcst>=0.2.5->google-cloud-secret-manager==2.7.2->googleauthentication>=0.0.12->bigquery) (4.0.1)
Collecting typing-inspect>=0.4.0
  Using cached typing_inspect-0.8.0-py3-none-any.whl (8.7 kB)
Requirement already satisfied: dataclasses>=0.6.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from libcst>=0.2.5->google-cloud-secret-manager==2.7.2->googleauthentication>=0.0.12->bigquery) (0.8)
Requirement already satisfied: pyyaml>=5.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from libcst>=0.2.5->google-cloud-secret-manager==2.7.2->googleauthentication>=0.0.12->bigquery) (5.4.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.23.0->googleauthentication>=0.0.12->bigquery) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.0->googleauthentication>=0.0.12->bigquery) (3.1.1)
Requirement already satisfied: mypy-extensions>=0.3.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from typing-inspect>=0.4.0->libcst>=0.2.5->google-cloud-secret-manager==2.7.2->googleauthentication>=0.0.12->bigquery) (0.4.3)
Installing collected packages: protobuf, grpcio, googleapis-common-protos, typing-inspect, httplib2, grpcio-status, google-api-core, uritemplate, proto-plus, libcst, grpc-google-iam-v1, google-crc32c, google-auth-httplib2, dacktool, google-resumable-media, google-cloud-secret-manager, google-cloud-core, google-cloud-bigquery-storage, google-api-python-client, dbstream, googleauthentication, google-cloud-bigquery, bigquery
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.15.2
    Uninstalling protobuf-3.15.2:
      Successfully uninstalled protobuf-3.15.2
  Attempting uninstall: grpcio
    Found existing installation: grpcio 1.42.0
    Uninstalling grpcio-1.42.0:
      Successfully uninstalled grpcio-1.42.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-serving-api 2.1.0 requires tensorflow~=2.1.0, which is not installed.
Successfully installed bigquery-0.0.30 dacktool-0.0.7 dbstream-0.1.19 google-api-core-2.8.2 google-api-python-client-1.7.11 google-auth-httplib2-0.0.3 google-cloud-bigquery-3.2.0 google-cloud-bigquery-storage-2.13.2 google-cloud-core-2.3.1 google-cloud-secret-manager-2.7.2 google-crc32c-1.3.0 google-resumable-media-2.3.3 googleapis-common-protos-1.56.3 googleauthentication-0.0.17 grpc-google-iam-v1-0.12.4 grpcio-1.48.2 grpcio-status-1.48.2 httplib2-0.21.0 libcst-0.4.1 proto-plus-1.22.1 protobuf-3.19.6 typing-inspect-0.8.0 uritemplate-3.0.1
Collecting db-dtypes
  Using cached db_dtypes-1.0.2-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: pandas<2.0dev,>=0.24.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from db-dtypes) (1.1.5)
Requirement already satisfied: pyarrow<9.0dev,>=3.0.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from db-dtypes) (6.0.1)
Requirement already satisfied: numpy<2.0dev,>=1.16.6 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from db-dtypes) (1.18.5)
Requirement already satisfied: packaging>=17.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from db-dtypes) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from packaging>=17.0->db-dtypes) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from pandas<2.0dev,>=0.24.2->db-dtypes) (2021.1)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas<2.0dev,>=0.24.2->db-dtypes) (1.15.0)
Installing collected packages: db-dtypes
Successfully installed db-dtypes-1.0.2
Requirement already satisfied: matplotlib in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (3.3.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.15 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from matplotlib) (1.18.5)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: seaborn in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (0.11.1)
Requirement already satisfied: numpy>=1.15 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from seaborn) (1.18.5)
Requirement already satisfied: pandas>=0.23 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from seaborn) (1.1.5)
Requirement already satisfied: scipy>=1.0 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib>=2.2 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from seaborn) (3.3.4)
Requirement already satisfied: cycler>=0.10 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/ec2-user/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)

In [1]:
from google.cloud import bigquery
from datetime import datetime, timedelta

import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
from datetime import datetime
import datetime
from tqdm import tqdm
from matplotlib.patches import Rectangle
import warnings

warnings.filterwarnings("ignore")

%load_ext google.cloud.bigquery
%load_ext nb_black

In [2]:
from scipy.special import comb
from itertools import combinations, permutations

Referência: https://www.computersciencemaster.com.br/como-funciona-o-algoritmo-apriori/

In [3]:
df_mining = pd.DataFrame(
    [
        [
            "onion",
            "potato",
            "burguer",
            "false",
            "false"
        ],
        [
            "false",
            "potato",
            "burguer",
            "milk",
            "false"
        ],
        ["false", "false", "false", "milk", "beer"],
        ["onion", "potato", "false", "milk", "false"],
        ["onion", "potato", "burguer", "false", "beer"],
        ["onion", "potato", "burguer", "milk", "beer"],
    ]
)

In [4]:
df_mining

       0       1        2      3      4
0  onion  potato  burguer  false  false
1  false  potato  burguer   milk  false
2  false   false    false   milk   beer
3  onion  potato    false   milk  false
4  onion  potato  burguer  false   beer
5  onion  potato  burguer   milk   beer

In [5]:
minimum_support = 0.5
df_values = df_mining.values.astype(str)
n_trans = len(df_mining)
n_minimum_support = minimum_support * n_trans

index, counts = np.unique(df_values, return_counts=True)
df_item = pd.DataFrame(zip(index, counts), columns=["produto", "frequencia"])
df_item.sort_values(by="frequencia", ascending=False, inplace=True)
df_item.reset_index(drop=True, inplace=True)
df_item = df_item.query("produto != 'false'")
df_item

   produto  frequencia
1   potato           5
2  burguer           4
3     milk           4
4    onion           4
5     beer           3

In [6]:
n_minimum_support = minimum_support * n_trans
df_item_frequent = df_item[df_item["frequencia"] > n_minimum_support]
df_item_frequent["supp"] = df_item_frequent["frequencia"] / n_trans
df_item_frequent

   produto  frequencia      supp
1   potato           5  0.833333
2  burguer           4  0.666667
3     milk           4  0.666667
4    onion           4  0.666667

In [7]:
itemset_frequencia = []  # pd.DataFrame(columns=["itemset", "frequencia"])
for i in tqdm(np.arange(len(df_item_frequent), 0, -1)):
    comb = list(combinations(df_item_frequent["produto"].values, i))
    for w in comb:
        count = 0
        for instancia in df_values:
            if all(elem in instancia for elem in w):
                count = count + 1
        if count >= n_minimum_support:
            itemset_frequencia.append({"itemset": w, "frequencia": count})
df_itemset_frequencia = pd.DataFrame(itemset_frequencia)
df_itemset_frequencia.sort_values(by="frequencia", inplace=True, ascending=False)
df_item_frequent.set_index("produto", inplace=True)
df_itemset_frequencia["supp"] = df_itemset_frequencia["frequencia"] / n_trans
df_itemset_frequencia

100%|██████████| 4/4 [00:00<00:00, 3827.79it/s]

                    itemset  frequencia      supp
5                 (potato,)           5  0.833333
1         (potato, burguer)           4  0.666667
3           (potato, onion)           4  0.666667
6                (burguer,)           4  0.666667
7                   (milk,)           4  0.666667
8                  (onion,)           4  0.666667
0  (potato, burguer, onion)           3  0.500000
2            (potato, milk)           3  0.500000
4          (burguer, onion)           3  0.500000

In [8]:
df_itemset_frequencia

                    itemset  frequencia      supp
5                 (potato,)           5  0.833333
1         (potato, burguer)           4  0.666667
3           (potato, onion)           4  0.666667
6                (burguer,)           4  0.666667
7                   (milk,)           4  0.666667
8                  (onion,)           4  0.666667
0  (potato, burguer, onion)           3  0.500000
2            (potato, milk)           3  0.500000
4          (burguer, onion)           3  0.500000

# Support

A probabilidade da combinação x acontecer em relação ao total de operações

In [9]:
df_itemset_frequencia["supp"] = df_itemset_frequencia["frequencia"] / n_trans

In [10]:
df_itemset_frequencia

                    itemset  frequencia      supp
5                 (potato,)           5  0.833333
1         (potato, burguer)           4  0.666667
3           (potato, onion)           4  0.666667
6                (burguer,)           4  0.666667
7                   (milk,)           4  0.666667
8                  (onion,)           4  0.666667
0  (potato, burguer, onion)           3  0.500000
2            (potato, milk)           3  0.500000
4          (burguer, onion)           3  0.500000

In [11]:
df_item_frequent

         frequencia      supp
produto
potato            5  0.833333
burguer           4  0.666667
milk              4  0.666667
onion             4  0.666667

In [12]:
prob = []
for item, supp in tqdm(df_itemset_frequencia[["itemset", "supp"]].values):
    s = round(supp * 100, 2)
    for conjunto, supp_c in df_itemset_frequencia[["itemset", "supp"]].values:

        conf = round((supp_c / supp) * 100, 2)
        lift = round(
            supp_c / np.prod([df_item_frequent.loc[i]["supp"] for i in conjunto]), 2
        )
        conj = set(conjunto) - set(item)
        if set(item).intersection(set(conjunto)) == set(item):
            if len(conj) > 0 and conf > 0:
                prob.append([conj, item, conf, lift])
df = pd.DataFrame(prob, columns=["B", "A", "confidence", "lift"])
df

100%|██████████| 9/9 [00:00<00:00, 335.77it/s]

                    B                  A  confidence  lift
0           {burguer}          (potato,)        80.0  1.20
1             {onion}          (potato,)        80.0  1.20
2    {onion, burguer}          (potato,)        60.0  1.35
3              {milk}          (potato,)        60.0  0.90
4             {onion}  (potato, burguer)        75.0  1.35
5           {burguer}    (potato, onion)        75.0  1.35
6            {potato}         (burguer,)       100.0  1.20
7     {potato, onion}         (burguer,)        75.0  1.35
8             {onion}         (burguer,)        75.0  1.12
9            {potato}            (milk,)        75.0  0.90
10           {potato}           (onion,)       100.0  1.20
11  {potato, burguer}           (onion,)        75.0  1.35
12          {burguer}           (onion,)        75.0  1.12
13           {potato}   (burguer, onion)       100.0  1.35

In [13]:
df_mining[(df_mining[0] == "onion")]

       0       1        2      3      4
0  onion  potato  burguer  false  false
3  onion  potato    false   milk  false
4  onion  potato  burguer  false   beer
5  onion  potato  burguer   milk   beer

In [14]:
df_mining[(df_mining[1] == "potato")]

       0       1        2      3      4
0  onion  potato  burguer  false  false
1  false  potato  burguer   milk  false
3  onion  potato    false   milk  false
4  onion  potato  burguer  false   beer
5  onion  potato  burguer   milk   beer

# Confidence

A probabilidade condicional da combinação dada outra combinação

probabilidade de comprar burguer dado que comprou potato

In [15]:
0.66666666 / 0.83333333333

0.7999999920031999

ou seja 80% das transações que potato, também compram burguer.

5 transações de potato, dessas 4 compram burguer

In [16]:
df_mining[(df_mining[1] == "potato")]

       0       1        2      3      4
0  onion  potato  burguer  false  false
1  false  potato  burguer   milk  false
3  onion  potato    false   milk  false
4  onion  potato  burguer  false   beer
5  onion  potato  burguer   milk   beer

outro exemplo:

probabilidade de comprar burguer and onion dado que comprou potato

In [17]:
0.5 / 0.5

1.0

isso significa que em todas as vezes que se comprou burguer e onion também se comprou potato

In [18]:
df_mining[(df_mining[0] == "onion") & (df_mining[2] == "burguer")]

       0       1        2      3      4
0  onion  potato  burguer  false  false
4  onion  potato  burguer  false   beer
5  onion  potato  burguer   milk   beer

probabilidade de comprar potato, dado que comprou burguer and onion

In [19]:
0.5 / 0.83

0.6024096385542169

In [20]:
df_mining[(df_mining[1] == "potato")]

       0       1        2      3      4
0  onion  potato  burguer  false  false
1  false  potato  burguer   milk  false
3  onion  potato    false   milk  false
4  onion  potato  burguer  false   beer
5  onion  potato  burguer   milk   beer

In [21]:
3 / 5

0.6

# lift

Esta medida calcula também a possibilidade de um item ser comprado em relação a outro item. Porém, esta medida considera a popularidade de ambos os itens.

lift de comprar  burguer dado que comprou potato

In [22]:
0.66666666 / (0.833333 * 0.666667)

1.199999868000253